<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.moviecommu.entity.User" alias="User"></typeAlias>
        <typeAlias type="com.example.moviecommu.entity.Following" alias="Flw"></typeAlias>
        <typeAlias type="com.example.moviecommu.entity.Schedule" alias="Schedule"></typeAlias>
        <typeAlias type="com.example.moviecommu.entity.Hall" alias="Hall"></typeAlias>
        <typeAlias type="com.example.moviecommu.entity.Reserve" alias="Reserve"></typeAlias>
        <typeAlias type="com.example.moviecommu.dto.MyReserveDto" alias="MyReserve"></typeAlias>
        <typeAlias type="com.example.moviecommu.entity.Movie" alias="Movie"></typeAlias>
        <typeAlias type="com.example.moviecommu.entity.Review" alias="Review"></typeAlias>
        <typeAlias type="com.example.moviecommu.entity.PostFile" alias="PostFile"></typeAlias>
        <typeAlias type="com.example.moviecommu.dto.PostDtoMyBatis" alias="PostDtoMyBatis"></typeAlias>
        <typeAlias type="com.example.moviecommu.dto.GgimMovieDto" alias="GgimMovieDto"></typeAlias>
    </typeAliases>
</configuration>